<form>
  <div class="mb-4">
    <label for="origin" class="label">Origin</label>
    <input
      type="text"
      id="origin"
      class="input uppercase"
      placeholder="A1"
      maxlength="2"
      required
    />
  </div>
  <div class="mb-4">
    <label for="object" class="label">Object location</label>
    <input
      type="text"
      id="object"
      class="input uppercase"
      placeholder="A1"
      maxlength="2"
      required
    />
  </div>
  <div class="mb-4">
    <label for="destination" class="label">Destination</label>
    <input
      type="text"
      id="destination"
      class="input uppercase"
      placeholder="A1"
      maxlength="2"
      required
    />
  </div>
  <div class="pt-2">
    <button class="button w-full">Calculate route</button>
  </div>
</form>
