<section class="bg-white">
  <div class="bg-hero mb-10 h-56 sm:h-80 lg:h-96"></div>
  <div class="relative isolate px-6 lg:px-8">
    <div class="mx-auto max-w-2xl pb-16 sm:pb-24 lg:pb-30">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Fast deliveries with Amazonia Drones
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Our drones are able to calculate the fastest route, avoiding longer
          distances and delivering your package as quickly as possible.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#calculate-route" data-te-smooth-scroll-init class="button"
            >See in action</a
          >
          <a
            [href]="githubUrl"
            target="_blank"
            class="text-sm font-semibold leading-6 text-gray-900"
            >Learn more <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
    <div class="flex justify-center mb-16 sm:mb-24 animate-bounce">
      <ng-icon name="featherChevronsDown" />
    </div>
  </div>
</section>
