<section class="bg-white">
  <div class="py-8 lg:py-16 mx-auto px-4 container">
    <h2 class="mb-4 lg:mb-8 section-header">Calculate fast routes</h2>
    <div class="text-lg leading-8 text-center mb-8 sm:mb-16 text-gray-600">
      Enter your information to calculate the fastest route.
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-8">
      <div>
        <app-calculate-form (onFormSubmit)="calculate($event)" />
      </div>
      <div>
        <div class="pb-4 border-b border-b-gray-100">
          <app-calculate-result />
        </div>
        <div class="mt-4"><app-calculate-latests /></div>
      </div>
    </div>
  </div>
</section>
