<div class="text-gray-800">
  <div class="font-bold">Latests calculations</div>
  <div class="text-sm mb-4">Check your last 10 calculations.</div>
  <div *ngIf="!resultList || !resultList.length" class="text-sm text-gray-400">
    You didn't' make any calculation. Use the form to make a new one.
  </div>
  <div *ngIf="resultList && resultList.length">
    <ul class="max-w-md divide-y divide-gray-200">
      <li
        class="py-2 sm:py2-4"
        *ngFor="let item of resultList | slice : 0 : 10"
      >
        <div class="flex items-center space-x-4">
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900">
              Origin: {{ item.origin | uppercase }}, Object:
              {{ item.object | uppercase }}, Delivery:
              {{ item.destination | uppercase }}
            </p>
            <p class="text-xs text-gray-500 truncate dark:text-gray-400">
              {{ item.date | date : "medium" }}
            </p>
          </div>
          <div
            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
          >
            in {{ item.totalSeconds | number : "1.0-0" }} seconds
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
