<footer class="bg-white">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center"
      >© 2023 <a [href]="githubUrl" class="hover:underline">Amazônia™</a>. All
      Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium gap-5 text-gray-500 sm:mt-0"
    >
      <li>
        <a [href]="githubUrl" class="hover:underline">About</a>
      </li>
      <li>
        <a [href]="githubUrl" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
